
@{
    ViewBag.Title = "Index";
}

<h2>Bem Vindo! Aplicação destinada a CRUD simples utilizando do design MVC e Ajax.</h2></br>
<div class="container">
    <div class="jumbotron">
        <span>Ao clicar no botão abaixo você poderá realizar o cadastramento de um novo paciente.</span><br />
        @Html.ActionLink("Cadastrar Paciente", "Register", "Create", new { area = "" }, new { @class = "btn btn-warning" })
    </div>

    <div class="jumbotron">
        <span>Ao clicar no botão abaixo você poderá listar todos os pacientes cadastrados, além de alterar as informações e possivelmente realizar a exclusão dos mesmos.</span><br />
        @Html.ActionLink("Listar Pacientes", "List", "List", new { area = "" }, new { @class = "btn btn-info" })
    </div>
</div>


